<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post List</title>
</head>
<body>
<h1>Posts</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.slug}"></td>
        <td>
            <a th:href="@{/posts/{id}(id=${post.id})}">View</a>
            <a th:href="@{/posts/new}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/posts/new">Create New Post</a>
</body>
</html>
